<div class="loggin-box">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="loggin-form">
      <h2>Authentification</h2>
      <div class="loggin-form-item">
          <label for="usernameOrEmail">Nom d'utilisateur ou email</label>
          <input class="round-input" formControlName="email">
      </div>
      <div class="loggin-form-item">
          <label for="usernameOrEmail">Mot de passe</label>
          <input class="round-input" formControlName="password">
      </div>
      <button class="round-button" type="submit">Je me connecte</button>
  </form>
</div>



<div class="p-grid">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="loggin-form">
  <div class="p-col-4 p-offset-4">
    <div class="card">
      <div class="p-fluid">
        <img src="../../../../assets/images/logo_JDR_no_border_side_view_no_back_face.png " alt=""> 

        <span class="p-float-label">
          <input id="identifiant" type="text" pInputText  formControlName="email">
          <label for="identifiant">Identifiant</label>
        </span>

        <span class="p-float-label">
          <input id="motdepasse" type="text" pInputText formControlName="password">
          <label for="motdepasse">Mot de passe</label>
        </span>

        <div class="p-grid">
          <div class="p-col-4 p-offset-4">
            <button pButton pRipple type="button" label="Connexion"></button>
          </div>
          <div class="p-col-5 p-offset-4">
            <a href="" (click)="onPass()">Mot de passe oublié ?</a>
          </div>
          <div class="p-col-12">
            <div class="divider"><p-divider></p-divider></div>
            
          </div>
          <div class="p-col-4 p-offset-4">
            <div class="p-field">
              <button pButton pRipple type="button" label="Créer un compte" class="p-button-outlined p-button-warning" (click)="onSubmit()"></button>
            </div>
          </div>  
        </div>

      </div>
    </div>
  </div>
</form>
</div>


