<div class="p-grid topDiv">
    <div class="p-col-4">
        <div class="p-grid">
            <div class="p-col-6">
                <h2>Partie {{privacy}}</h2>
            </div>
            <div class="p-col-3 privacy">
                <p-inputSwitch [(ngModel)]="isPublic" (onChange)="changePrivacy()"></p-inputSwitch>
            </div>
            <div class="p-col-3">
                <img id="imgPrivacy" src="../../../../assets/images/public.png" height="70">
            </div>
            <div class="p-col-6">
                <h4>Type de jeu :</h4>
            </div>
            <div class="p-col-6">
                <p-dropdown [options]="typeJeu" [(ngModel)]="selectedTypeJeu" optionLabel="nom" (onChange)="changeGameType()"></p-dropdown>
            </div>
            <div class="p-col-6">
                <h4>Nom de la partie :</h4>
            </div>
            <div class="p-col-6">
                <input id="nomPartie" type="text" pInputText [(ngModel)]="gameName">
            </div>
            <div class="p-col-6">
                <h4>Nombre de joueurs :</h4>
            </div>
            <div class="p-col-6">
                <p-inputNumber inputId="nbJoueurs" [(ngModel)]="nbPlayers"></p-inputNumber>
            </div>
        </div>
    </div>
    <div class="p-col-4">
        <div class="p-grid">
            <div class="p-col-3 ImgAgenda">
                <img src="../../../../assets/images/icon-agenda.png" height="70" (click)="openAgenda()">
            </div>
            <div class="p-col-9">
                <input id="dateSession" type="text" pInputText [disabled]="true" style="width:100%" [(ngModel)]="dateSession"/>
            </div>
            <div class="p-col-3">
                <h4>Cadre :</h4>
            </div>
            <div class="p-col-9">
                <textarea id="cadre" pInputTextarea autoResize="autoResize" [(ngModel)]="gameStory"></textarea>  
            </div>
        </div>   
    </div>
    <div class="p-col-4">
        <div class="p-grid">
            <div class="p-col-2"></div>
            <div class="p-col-8">
                <img id="gamePic" src="../../../../assets/images/{{gameTypePic}}" alt="Photo de la partie">
                <button pButton pRipple type="button" label="Créer la partie" class="p-button-success"></button>
            </div>
            <div class="p-col-2"></div>
        </div>
    </div>
</div>
