<div class="p-grid p-flex-column infoGame">
    <div class="p-col-12">
        <div class="box">
            <app-game-info></app-game-info>
        </div>
    </div>
    <div class="p-col-4 p-offset-8">
        <button pButton pRipple type="button" label="Créer la partie" class="p-button-success"></button> 
        <button pButton pRipple type="button" label="Quitter la partie" class="p-button-danger"></button> 
    </div>
    <div class="p-col-12">
        <div class="box">
          <app-game-info-bottom></app-game-info-bottom>
        </div>
    </div>
</div>


