.infoGame{
    background: linear-gradient(white, rgb(196,196,196));
    border: 2px solid;
    border-color:rgb(242, 162, 22);
    width:95%;
    margin:0 auto;
    margin-top:2em;
}

button{
    margin:1em;
}
