<div class="p-grid size-choice">
    <div *ngIf="basePlugin">
        <p>{{basePlugin.name}}</p>
    </div>
    <div class="p-col-4">
        <button class="button-size">Default</button>
    </div>
    <div class="p-col-4">
        <button class="button-size">1</button>
    </div>
    <div class="p-col-4">
        <button class="button-size">2</button>
    </div>
    <div class="p-col-4">
        <button class="button-size">3</button>
    </div>
    <div class="p-col-4">
        <button class="button-size">4</button>
    </div>
    <div class="p-col-4">
        <button class="button-size">5</button>
    </div>
    <div class="p-col-4">
        <button class="button-size">6</button>
    </div>
    <div class="p-col-4">
        <button class="button-size">7</button>
    </div>
    <div class="p-col-4">
        <button class="button-size">8</button>
    </div>
    <div class="p-col-4">
        <button class="button-size">9</button>
    </div>
    <div class="p-col-4">
        <button class="button-size">10</button>
    </div>
    <div class="p-col-4">
        <button class="button-size">11</button>
    </div>
    <div class="p-col-4">
        <button class="button-size">12</button>
    </div>
</div>
