<div class="p-grid size-choice">
    <!-- <div *ngIf="bp">
        <p>{{bp.name}}</p>
    </div> -->
    <div class="p-col-4">
        <button (click)="updateSize(0)" class="button-size">Default</button>
    </div>
    <div class="p-col-4">
        <button (click)="updateSize(1)" class="button-size">1</button>
    </div>
    <div class="p-col-4">
        <button (click)="updateSize(2)" class="button-size">2</button>
    </div>
    <div class="p-col-4">
        <button (click)="updateSize(3)" class="button-size">3</button>
    </div>
    <div class="p-col-4">
        <button (click)="updateSize(4)" class="button-size">4</button>
    </div>
    <div class="p-col-4">
        <button (click)="updateSize(5)" class="button-size">5</button>
    </div>
    <div class="p-col-4">
        <button (click)="updateSize(6)" class="button-size">6</button>
    </div>
    <div class="p-col-4">
        <button (click)="updateSize(7)" class="button-size">7</button>
    </div>
    <div class="p-col-4">
        <button (click)="updateSize(8)" class="button-size">8</button>
    </div>
    <div class="p-col-4">
        <button (click)="updateSize(9)" class="button-size">9</button>
    </div>
    <div class="p-col-4">
        <button (click)="updateSize(10)" class="button-size">10</button>
    </div>
    <div class="p-col-4">
        <button (click)="updateSize(11)" class="button-size">11</button>
    </div>
    <div class="p-col-4">
        <button (click)="updateSize(12)" class="button-size">12</button>
    </div>
</div>
