<form [formGroup]="form" (ngSubmit)="onSubmit()" class="loggin-form">

	<div class="p-grid">

		<div class="p-col-4 p-offset-4">

			<div class="card">

				<div class="p-fluid">
					<img src="../../../../assets/images/logo_JDR_no_border_side_view_no_back_face.png " alt="">
					<span class="p-float-label">
                                        <input id="identifiant" type="text" pInputText formControlName="nom">
                                        <label for="identifiant">Identifiant</label>
                                </span>
					<span class="p-float-label">
                                    <input id="identifiant" type="text" pInputText formControlName="email">
                                    <label for="identifiant">E-Mail</label>
                                </span>
					<span class="p-float-label">
                                        <input id="motdepasse" type="text" pInputText formControlName="password">
                                        <label for="motdepasse">Mot de passe</label>
                                </span>
					<span class="p-float-label">
                                        <input id="mdp" type="text" pInputText formControlName="password">
                                        <label for="motdepasse">Confirmer le mot de passe</label>
                                </span>

					<div class="p-grid">
						<div class="p-col-2"></div>
						<div class="p-col-10">
							<p-checkbox name="city3" value="Chicago" [(ngModel)]="cutilisation" inputId="cutilisation">cc</p-checkbox>
							<label for="cutilisation">J'accepte les conditions d'utilisation</label>
						</div>
					</div>

					<div class="p-grid">
						<div class="p-col-12">
							<div class="divider">
								<p-divider></p-divider>
							</div>
						</div>

						<div class="p-col-4 p-offset-4">
							<div class="p-field">
								<button pButton pRipple type="button" type="submit" label="S'inscrire sur le site" class="p-button-outlined p-button-warning">
									S'inscrire sur le site
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>





