<div id="monContenu" class="p-grid">
    <div id="monSelect" class="p-col-12">
        <label>Nom de la partie : </label>
        <p-cascadeSelect [(ngModel)]="partieChoisie" [options]="parties" optionLabel="cname" optionGroupLabel="name"
            [optionGroupChildren]="['nomPartie']" [style]="{'minWidth': '14rem'}" placeholder="Sélectionnez une partie"
            (onChange)="choixPartie()"></p-cascadeSelect>
    </div>
    <div class="p-col-8">
        <app-calendar></app-calendar>
    </div>
    <div class="p-col-4">
        <app-list-players [idPartie]="idPartieChoisie"></app-list-players>
    </div>
</div>