<div *ngIf="affichageOk" id="monContenu" class="p-grid">
    <div id="monSelect" class="p-col-12">
        <label>Nom de la partie : </label>
        <p-cascadeSelect [(ngModel)]="partieChoisie" [options]="parties" optionLabel="cname" optionGroupLabel="name"
            [optionGroupChildren]="['nomPartie']" [style]="{'minWidth': '14rem'}" placeholder="Sélectionnez une partie"
            (onChange)="choixPartie()"></p-cascadeSelect>
    </div>
    <div class="p-col-8">
        <app-calendar [initDialogDispo]="idPartieChoisie" [loadDispoCalendar]="idPartieChoisie"></app-calendar>
    </div>
    <div class="p-col-4" *ngIf="idPartieChoisie != null">
        <app-list-players [initListeJoueurs]="idPartieChoisie"></app-list-players>
    </div>
</div>
<div *ngIf="!affichageOk" id="monContenu" class="p-grid">
    Veuillez créer ou rejoindre une partie pour avoir accès à l'agenda
</div>