.friendCard{
    position: relative;
    left: 0;
    justify-self: auto;
    margin: 1%;
}

.name {
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
}

.city{
    white-space: nowrap;
    overflow: hidden;
}