<div class="p-card p-grid p-ai-center vertical-container friendCard">
    <div class="p-col-2 ">
        <p-avatar image="assets/images/profilePic.jpg" shape="circle" size="xlarge"></p-avatar>
    </div>
    <div class="p-col-8">
        <p class="name">
           {{user.nom}}

        </p>
        <p class="city">
            {{user.ville}}
        </p>
    </div>
    <div class="p-col-2">
        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"></button>
    </div>
</div>
