
<div class="host">
    <gridster [options]="options">
        <gridster-item 
        [item]="item" 
        *ngFor="let item of dashboard; let index = index" 
        id="gridster{{index}}" 
        [ngStyle] ="getLayoutService().getStyles(item)"
        (click)="editPlugin(item)"        
        >     
            <div class="content" [ngClass]="this.item.config.size">                
                {{this.item.content.nom}}
                <ng-container class="blabla" *ngComponentOutlet="this.item.config.composant"></ng-container>
            </div>
            <button (click)="editBp(this.item.config.id)">...</button>   
        </gridster-item>
    </gridster>    
</div>

<p-dialog 
    header="Charger une fiche :" 
    [(visible)]="displayLoadModal" 
    [modal] ="true" 
    [style]="{width: '50vw'}" 
    [baseZIndex]='10000' 
    [draggable]="false" 
    [resizable]="true" 
    [contentStyle]="{'overflow':'visible'}"
    >
    <app-search-sheet (loadEvent)="loadComplete($event)"></app-search-sheet> 
</p-dialog>

<p-dialog
header="Enregistrer une fiche :" 
    [(visible)]="displaySaveModal" 
    [modal] ="true" 
    [style]="{width: '50vw'}" 
    [baseZIndex]='10000' 
    [draggable]="false" 
    [resizable]="true" 
    [contentStyle]="{'overflow':'visible'}">
        <div class="p-grid" style="margin: 5px;">
            <label class="p-col-7">Type de jeu :</label>
            <p-dropdown [options]="gameTypes" optionLabel="name" [(ngModel)]="gameType"></p-dropdown>
        </div>
        <div style="margin: 5px;" class="p-grid">
            <label class="p-col-7">Nom de la fiche :</label>
            <input type="text" [(ngModel)]="name" class="p-col-5">
        </div>
        <div style="margin: 5px;" class="p-grid">
            <label class="p-col-7">Rendre votre fiche publique :</label>
            <p-checkbox [(ngModel)]="isPublic" value="public" class="p-col-5"></p-checkbox>
        </div>        
        <button pButton pRipple type="button" label="Enregistrer" (click)="saveSheet(); showSaveModal(); reloadOnSave();"></button>
</p-dialog>

<div class="save p-grid p-col-12" style="margin: 5px;">
    <div class="p-col-8 p-grid"></div>
    <p-button class="p-col-2 p-grid" type="button" (click)="showSaveModal()">Enregistrer</p-button>
    &nbsp;
    <p-button class="p-col-2 p-grid" type="button" (click)="showLoadModal()">Charger</p-button>    
</div>