
<!-- <div class="toolbar">
    <div class="draggable" draggable="true" (dragend)="getLayoutService().dropItem('compTest1')">
        Example 1 
    </div>
    <div class="draggable" draggable="true" (dragend)="getLayoutService().dropItem('compTest2')">
        Example 2
    </div>
</div> -->
<div class="host">
    <gridster [options]="options">
        <gridster-item 
        [item]="item" 
        *ngFor="let item of dashboard; let index = index" 
        id="gridster{{index}}" 
        [ngStyle] ="getLayoutService().getStyles(item)"
        (click)="editPlugin(item)"        
        >     
            <div class="content">                
                {{this.item.content}}
            </div>         
        </gridster-item>
    </gridster>    
</div>

<p-dialog header="Charger une fiche :" [(visible)]="displayLoadModal" [modal] ="true" [style]="{width: '50vw'}" [baseZIndex]='10000' [draggable]="false" [resizable]="true" [contentStyle]="{'overflow':'visible'}">
       <app-search-sheet></app-search-sheet> 
</p-dialog>

<div class="save">
    <p-button (click)="getLayoutService().saveSheet()">Enregistrer</p-button>
    &nbsp;
    <p-button type="button" (click)="showLoadModal()">Charger</p-button>    
</div>