.profilePic *{
    width: 49%;
    border-radius: 50px;
}
.user {
    /* width: 400px; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.userInfo{
    width: 90%;
    display: flex;
    flex-direction: row;
}
 h3 {
    width: 49%;
}