<p-toast></p-toast>

<div class="card">

    <p-table #dt [value]="sessions" [rows]="10" [paginator]="true" [globalFilterFields]="['id','name','episode','Resume','place']"
        [(selection)]="selectedProducts" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
                <h5 class="p-m-0">Manage Products</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Rechercher..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="id">id <p-sortIcon field="id"></p-sortIcon></th>
                
                
                <th pSortableColumn="nom"> Nom  <p-sortIcon field="name"></p-sortIcon></th>
                <th pSortableColumn="episode">Episode <p-sortIcon field="episode"></p-sortIcon></th>
                <th pSortableColumn="Resume">Resume <p-sortIcon field="Resume"></p-sortIcon></th>
                <th pSortableColumn="place">Place <p-sortIcon field="place"></p-sortIcon></th>

                
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-session>
            <tr>
                <td>
                    <p-tableCheckbox [value]="session"></p-tableCheckbox>
                </td>
                <td>{{session.id }}</td>
                <td>{{session.name}}</td>
                <td>{{session.episode}}</td>
                <td>{{session.resume}}</td>
                <td>{{session}}</td>

            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                Un total de {{sessions ? sessions.length : 0 }} Sessions disponible.
            </div>
        </ng-template>
    </p-table>
</div>

