root{
        background-color: gray;
    }
    .product-item-content {
        border: 1px solid var(--surface-d);
        border-radius: 3px;
        margin: .3rem;
        text-align: center;
        padding: 2rem 0;
    }



  
    .image {
        width: 35%;
    }


    .lien{
       margin: 0 auto;
       width: 3px;
       
    }

    .haut{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        flex-direction: row;
        align-content: center;
        align-items: stretch
        
    
    }

    .divider{
        font-size: 5rem;
        width: 500%;
    }
