<div class="haut">
    <h3>Mes parties:  </h3>
    <h3><i class="pi pi-sliders-h " style="font-size: 1rem"></i></h3>
    <h3><i class="pi pi-plus " style="font-size: 1rem"></i></h3>
</div>

<div class="p-grid">


    <div class="p-col-2">
        <div class="box">
            <div class="lien">
                <i class="pi pi-plus " style="font-size: 5rem"></i>
            </div>
        </div>
    </div>
    <div class="p-col-10">
        <div class="box">

            <p-carousel [value]="jeux" [numVisible]="3" [numScroll]="1" [circular]="false">
                <ng-template let-jeu pTemplate="item">

                    <div class="">
                        <img class="image" src="../../../assets/images/{{jeu.image}} " alt="">
                    </div>
                </ng-template>

            </p-carousel>
        </div>
    </div>


</div>


<p-divider class="divider"></p-divider>




<div class="haut">
    <h3>Mes fiches disponible: </h3>
    <h3><i class="pi pi-sliders-h " style="font-size: 1rem"></i></h3>
    <h3><i class="pi pi-plus " style="font-size: 1rem"></i></h3>

</div>

<div class="p-grid">


    <div class="p-col-2">
        <div class="box">
            <div class="lien">
                <i class="pi pi-plus " style="font-size: 5rem"></i>
            </div>
        </div>
    </div>
    <div class="p-col-10">
        <div class="box">

            <p-carousel [value]="jeux" [numVisible]="3" [numScroll]="1" [circular]="false">
                <ng-template let-jeu pTemplate="item">

                    <div class="">
                        <img class="image" src="../../../assets/images/{{jeu.fiche}} " alt="">
                    </div>
                </ng-template>

            </p-carousel>
        </div>
    </div>


</div>

<p-divider></p-divider>

<div class="haut">
    <h3>Les parties disponible:</h3>
    <h3><i class="pi pi-sliders-h " style="font-size: 1rem"></i></h3>
    
</div>

<div class="p-grid">

    <div class="p-col-12">
        <div class="box">

            <p-carousel [value]="jeux" [numVisible]="3" [numScroll]="1" [circular]="false">
                <ng-template let-jeu pTemplate="item">

                    <div class="">
                        <img class="image" src="../../../assets/images/{{jeu.image}} " alt="">
                    </div>
                </ng-template>

            </p-carousel>
        </div>
    </div>


</div>

<p-divider></p-divider>



