<p-card header="Mes parties">
    <div class="haut">
        <h3><a href="http://"><i class="pi pi-sliders-h " style="font-size: 1rem"></i></a></h3>
        <h3><a href="http://"><i class="pi pi-plus " style="font-size: 1rem"></i></a></h3>
    </div>
</p-card>
<p-card>

<div class="p-grid">
    <div class="p-col-2">
        <div class="box">
            <div class="lien">
                <a href=""><i class="pi pi-plus " style="font-size: 5rem"></i></a>
            </div>
        </div>
    </div>
    <div class="p-col-10">
        <div class="box">
            <p-carousel [value]="jeux" [numVisible]="3" [numScroll]="1" [circular]="false">
                <ng-template let-jeu pTemplate="item">
                    <div class="">
                        <img class="image" src="../../../assets/images/{{jeu.image}} " alt="">
                    </div>
                </ng-template>
            </p-carousel>
        </div>
    </div>
</div>
</p-card>

<p-card header="Mes fiches disponible">
    <div class="haut">
        <h3><a href="http://"><i class="pi pi-sliders-h " style="font-size: 1rem"></i></a></h3>
        <h3><a href="http://"><i class="pi pi-plus " style="font-size: 1rem"></i></a></h3>
    </div>
</p-card>
<p-card>
<div class="p-grid">
    <div class="p-col-2">
        <div class="box">
            <div class="lien">
                <a href=""><i class="pi pi-plus " style="font-size: 5rem"></i></a>
            </div>
        </div>
    </div>
    <div class="p-col-10">
        <div class="box">
            <p-carousel [value]="jeux" [numVisible]="3" [numScroll]="1" [circular]="false">
                <ng-template let-jeu pTemplate="item">
                    <div class="">
                        <img class="image" src="../../../assets/images/{{jeu.fiche}} " alt="">
                    </div>
                </ng-template>
            </p-carousel>
        </div>
    </div>
</div>
</p-card>



<p-card header="Les parties disponible">
    <div class="haut">
        <h3><a href="http://"><i class="pi pi-sliders-h " style="font-size: 1rem"></i></a></h3>
        <h3><a href="http://"><i class="pi pi-plus " style="font-size: 1rem"></i></a></h3>
    </div>
</p-card>
<p-card>
<div class="p-grid">
    <div class="p-col-12">
        <div class="box">
            <p-carousel [value]="jeux" [numVisible]="3" [numScroll]="1" [circular]="false">
                <ng-template let-jeu pTemplate="item">
                    <div class="">
                        <img class="image" src="../../../assets/images/{{jeu.image}} " alt="">
                    </div>
                </ng-template>
            </p-carousel>
        </div>
    </div>
</div>
</p-card>