

<!-- Les infos pricipale du profil  -->
<form [formGroup]="userForm" (ngSubmit)="modifier()">
<div class="p-grid">

    <div class="p-col-2">
        <img *ngIf="user.avatar" [src]="'assets/images/avatars' + user.avatar" class="profilePic" alt="">
    </div>
    <div class="p-col-6 avatars p-p-6 p-jc-center p-ai-center">
        <img *ngFor="let in of counter(13); let i = index"
             [src]="'assets/images/avatars/avatar-' + i + '.png'"
             [ngClass]="[avatarChecked == i ? 'select-avatar' : 'normal', 'avatar']"
             alt=""
            (click)="selectAvatar('avatar-' + i + '.png', i)"
        >
    </div>
<!-- 
    <div class="p-col-6">

        <h3 class="p-col-6">
            <h3>Nom : </h3> <input type="text" formControlName="nom">
        </h3>
        <h3 class="p-col-6">
            <h3>E-mail :</h3> <input type="text" formControlName="email">
        </h3>
        <h3 class="p-col-6">
            <h2>Ville : </h2> <input type="text" formControlName="ville">
        </h3>
        <div class="p-col-6">
            <h3>BIO : </h3>
            <p>

                <input type="text" formControlName="bio">
            </p>
        </div>
    </div>
    -->

</div>
<div class="p-grid">
    <div class="p-col-3">
        <h5>Nom : </h5> <input type="text" formControlName="nom">
    </div>
    <div class="p-col-3">
        <h5>E-mail :</h5> <input type="text" formControlName="email">
    </div>
    <div class="p-col-3">
        <h5>Ville : </h5> <input type="text" formControlName="ville">
    </div>
    <div class="p-col-3">
        <h5>Bio : </h5>
        <input type="text" rows="15" cols="40"  formControlName="bio">
    </div>

</div>
<div class="p-grid">
    
    <div class="p-col-12"><i class="far fa-edit" style="font-size: 2rem" (click)="modifier()" ></i></div>
    

</div>

</form>




