
img {
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

h2 {
  text-align: center;
}

.card {
  padding:3em;
  margin-top:2em;
  background-color:white;
  display: flex;
  justify-content: center;
  width: 100%;

}

span{
  margin:1.5em;
}
.divider{
  width: 80%;
  height: 1px;
  margin: 10px auto;
  background: #F2A216;
  border-bottom: 2px solid #F2A216;
}





.loggin-form{
    display: flex;
    justify-content: center;
}

.select-avatar {
  transform: scale(1.2);
  box-shadow: 0 0 20px #000000;
}

.avatar {
  width: 96px;
  height: 96px;
  border-radius: calc(96px / 2);
  margin: 10px;
}

button {
  display: flex;
  justify-content: center;
  width: auto;

}
