<div class="p-grid">

  <div class="p-col-4 p-offset-4">
    
    <div class="card">
      
      <div class="p-fluid">
        <img src="../../../../assets/images/logo_JDR_no_border_side_view_no_back_face.png " alt=""> 
        
        <span class="p-float-label">
          
          <input id="identifiant" type="text" pInputText>
          <label for="identifiant">Identifiant</label>
        </span>
        <span class="p-float-label">
          <input id="motdepasse" type="text" pInputText>
          <label for="motdepasse">Mot de passe</label>
        </span>
        <span class="p-float-label">
          <input id="mdp" type="text" pInputText>
          <label for="motdepasse">Confirmer le mot de passe</label>
        </span>



        <div class="p-grid">
          <div class="p-col-2"></div>
          <div class="p-col-10">
            <p-checkbox name="city3" value="Chicago" [(ngModel)]="cutilisation" inputId="cutilisation"></p-checkbox>
            <label for="cutilisation">J'accepte les conditions d'utilisation</label>
          </div>

        </div>
        
        <div class="p-grid">
          <div class="p-col-12">
              <div class="divider">
                <p-divider></p-divider>
              </div>
                
              </div>
              <div class="p-col-4 p-offset-4">
      
                <div class="p-field">
                  <button pButton pRipple type="button" label="S'inscrire sur le site" class="p-button-outlined p-button-warning"></button>
                </div>
      
              </div>  
        </div>


    

      </div>

    
    </div>

  </div>

</div>


<div class="card">
<form [formGroup]="signupForm" (ngSubmit)="ajouter()">

  <label for="">Nom:
      <input type="text" formControlName="nom">
  </label>
  <label for="">Mot de passe:
      <input type="text" formControlName="password">
  </label>
  <button>Ajouter</button>

  
  </form>
</div>
  