<p-toast></p-toast>

<div class="card">

    <p-table #dt [value]="models" [rows]="10" [paginator]="true" [globalFilterFields]="['name','isPublic','user']"
        [(selection)]="selectedProducts" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
                
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Rechercher..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="name">Nom <p-sortIcon field="name"></p-sortIcon></th>
                
                
                <th pSortableColumn="nom"> Visibilite  <p-sortIcon field="nom"></p-sortIcon></th>
                <th pSortableColumn="user.nom">Autheur <p-sortIcon field="user.nom"></p-sortIcon></th>
                

                
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-model>
            <tr>
                <td>
                    <p-tableCheckbox [value]="model"></p-tableCheckbox>
                </td>
                <td>{{model.name}}</td>
                
                <td>{{model.isPublic}}</td>
                <td>{{model.user.nom}}</td>
                

            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                Un total de {{models ? models.length : 0 }} Fiches disponible.
            </div>
        </ng-template>
    </p-table>
</div>


