<div class="recherche">
    <p-tabView>
        <!-- Fiches -->
        <p-tabPanel header="Fiches">

    <p-table #md [value]="models" [rows]="10" [paginator]="true" [globalFilterFields]="['id','name','isPublic','user']"
    [(selection)]="selectedFiches" [rowHover]="true" dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
    <ng-template pTemplate="caption">
        <div class="p-d-flex p-ai-center p-jc-between">
            <h5 class="p-m-0">Manage Products</h5>
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="md.filterGlobal($event.target.value, 'contains')" placeholder="Rechercher..." />
            </span>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th style="width: 3rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="id">Nom <p-sortIcon field="id"></p-sortIcon></th>


            <th pSortableColumn="nom"> Visibilite  <p-sortIcon field="nom"></p-sortIcon></th>
            <th pSortableColumn="email">Autheur <p-sortIcon field="email"></p-sortIcon></th>
            <th>Détails</th>


        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
        <tr>
            <td>
                <p-tableCheckbox [value]="product"></p-tableCheckbox>
            </td>
            <td>{{product.name}}</td>

            <td>{{product.isPublic}} </td>
            <td>{{product.user.nom}}</td>
            <td>Détails</td>

        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <div class="p-d-flex p-ai-center p-jc-between">
            Un total de {{users ? users.length : 0 }} Fiches disponible.
        </div>
    </ng-template>
</p-table>
        </p-tabPanel>


        <!-- Parties -->

        <p-tabPanel header="Parties">
            <p-table #pr [value]="sessions" [rows]="10" [paginator]="true" [globalFilterFields]="['id','game.nom','episode_num','resume','lieu']"
            [(selection)]="selectedSessions" [rowHover]="true" dataKey="id"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
            <ng-template pTemplate="caption">
                <div class="p-d-flex p-ai-center p-jc-between">
                    <h5 class="p-m-0">Manage Products</h5>
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="pr.filterGlobal($event.target.value, 'contains')" placeholder="Rechercher..." />
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 3rem">
                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                    <th pSortableColumn="id">id <p-sortIcon field="id"></p-sortIcon></th>


                    <th pSortableColumn="game.nom"> Nom  <p-sortIcon field="game.nom"></p-sortIcon></th>
                    <th pSortableColumn="episode_num">Episode <p-sortIcon field="episode_num"></p-sortIcon></th>
                    <th pSortableColumn="resume">Resume <p-sortIcon field="resume"></p-sortIcon></th>
                    <th pSortableColumn="lieu">Place <p-sortIcon field="lieu"></p-sortIcon></th>
                    <th></th>

                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-session>
                <tr>
                    <td>
                        <p-tableCheckbox [value]="session"></p-tableCheckbox>
                    </td>
                    <td>{{session.id }}</td>
                    <td>{{session.game.nom}}</td>
                    <td>{{session.episode_num}}</td>
                    <td>{{session.resume}}</td>
                    <td>{{session.lieu}}</td>
                    <td>
                        <button pButton pRipple icon="pi pi-heart" class="p-button-rounded p-button-success p-mr-2" (click)="editProduct(product)"></button>
                        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteProduct(product)"></button>
                    </td>

                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <div class="p-d-flex p-ai-center p-jc-between">
                    Un total de {{sessions ? sessions.length : 0 }} Sessions disponible.
                </div>
            </ng-template>
        </p-table>
        </p-tabPanel>


        <!-- Joueurs -->
        <p-tabPanel header="Joueur">
            <p-table #pl [value]="users" [rows]="10" [paginator]="true" [globalFilterFields]="['id','Image','nom','mail']"
            [(selection)]="selectedUsers" [rowHover]="true" dataKey="id"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
            <ng-template pTemplate="caption">
                <div class="p-d-flex p-ai-center p-jc-between">
                    <h5 class="p-m-0">Manage Products</h5>
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="pl.filterGlobal($event.target.value, 'contains')" placeholder="Rechercher..." />
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 3rem">
                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                    <th pSortableColumn="id">ID  <p-sortIcon field="id"></p-sortIcon></th>
                    <th>Avatar</th>

                    <th pSortableColumn="nom">Nom <p-sortIcon field="nom"></p-sortIcon></th>
                    <th pSortableColumn="email">E-mail <p-sortIcon field="email"></p-sortIcon></th>
                    <th pSortableColumn="createAt">Création <p-sortIcon field="createAt"></p-sortIcon></th>
                    <!--<th pSortableColumn="rating">Reviews <p-sortIcon field="rating"></p-sortIcon></th> -->
                    <!--<th pSortableColumn="inventoryStatus">Status <p-sortIcon field="inventoryStatus"></p-sortIcon></th> -->

                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-user>
                <tr>
                    <td>
                        <p-tableCheckbox [value]="product"></p-tableCheckbox>
                    </td>
                    <td>{{user.id}}</td>
                    <td><img [src]="'assets/images/dragon.jpg'" [alt]="product.nom" width="100" class="p-shadow-4" /></td>
                    <td>{{user.nom}}</td>
                    <td>{{user.email}}</td>
                    <!-- <td><p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating></td> -->
                    <!--<td><span [class]="'product-badge status-' + (product.inventoryStatus ? product.inventoryStatus.toLowerCase() : '')">{{product.inventoryStatus}}</span></td> -->
                    <td>{{product.createAt | date}}</td>
                    <td>
                        <button *ngIf="isSame(product)" pButton pRipple icon="pi pi-heart" class="p-button-rounded p-button-success p-mr-2"
                                (click)="ajoutAmi(product)"></button>
                        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteProduct(product)"></button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <div class="p-d-flex p-ai-center p-jc-between">
                    Un total de {{users ? users.length : 0 }} Joueurs.
                </div>
            </ng-template>
        </p-table>
        </p-tabPanel>
    </p-tabView>
</div>





<!--popup pour une fiche  -->
<!-- popup pour partie  -->
<!-- popup pour player  -->
