.recherche{
    border-color:rgb(196,196,196);
    background: linear-gradient(white, rgb(196,196,196));
    margin:1em;
    padding:1em;
    /*border-radius: 5%;*/
    display:flex;
    flex-direction: column;
}
.maPopup {
    display:flex;
    flex-direction:column;
    align-items: center;
}
.button {
    display:flex;
    flex-direction: column;
}

.popIn{
    display:flex;
    flex-direction: row;
    align-items:baseline;
}
