<!-- Les infos pricipale du profil  -->
<div class="p-grid">
    <div class="p-col-6">

        <img [src]="'assets/images/avatars/' + user.avatar" class="profilePic">
    </div>

    <div class="p-col-6">
        <h3 class="p-col-6">
            {{user.nom}}
        </h3>
        <div class="p-col-6">
            <p>
                {{user.bio}}
            </p>
            <p>
                {{user.ville}}
            </p>
        </div>
    </div>
        <div>
            <button class="user-detail" (click)="onModification(user)">Modification</button>
            <button class="user-supress" (click)="onSupress(user)">Supprimer</button>
            <button class="user-supress" (click)="onDeConnect()">Deconnexion</button>
            <button class="user-supress" (click)="onHome(user)">Home</button>
        </div>


</div>

<div class="p-grid">
    <div class="p-col-4">
        <app-friend-list></app-friend-list>
    </div>
    <div class="p-col-4">
        <app-game-list [games]="games"></app-game-list>
    </div>
    <div class="p-col-4">
        <app-sheet-list [sheets]="sheets"></app-sheet-list>
    </div>
</div>

