<!-- Les infos pricipale du profil  -->
<div class="p-grid">
    <div class="p-col-6">
         <img [src]="'assets/images/avatars/' + user.avatar" class="profilePic">
    </div>
    

    <div class="p-col-6">
        <h3 class="p-col-6">
             <p-card>
                {{user.nom}}
             </p-card>
        </h3>
        <div class="p-col-6">
            <p-card>
                {{user.bio}}
            </p-card>    
            <p-card> 
                {{user.ville}}
            </p-card>
         
        </div>
    </div>
        <div class="icone">
            <i class="far fa-edit" style="font-size: 2rem" (click)="onModification(user)" ></i>
        </div>


</div>

<div class="p-grid">
    <div class="p-col-4">
        <app-friend-list></app-friend-list>
    </div>
    <div class="p-col-4">
        <app-game-list [games]="games"></app-game-list>
    </div>
    <div class="p-col-4">
        <app-sheet-list [sheets]="sheets"></app-sheet-list>
    </div>
</div>

