<p-card class="list" header="Mes amis :">
    <div *ngFor="let user of friends">
        <!-- Une carte aperçu d'un ami -->
<!--        <app-user-card [user]="user" [users]="friends"></app-user-card>-->
        <div class="p-card p-grid p-ai-center vertical-container friendCard">
            <div class="p-col-2 ">
                <p-avatar image="assets/images/avatars/{{user.avatar}}" shape="circle" size="xlarge"></p-avatar>
            </div>
            <div class="p-col-8">
                <p class="name">
                    {{user.nom}}

                </p>
                <p class="city">
                    {{user.ville}}
                </p>
            </div>
            <div class="p-col-2">
                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteFriend(user)"></button>
            </div>
        </div>
    </div>
</p-card>
